// Colors:
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-light-1: #f7f7f7;

$color-light-grey: #c5c4c3d0;
$color-white: #fff;
$color-black: black;

//Grid:
$grid-width:114 rem;
$gutter-vertical: 3rem;
$gutter-horizontal: 6rem;